/* Global styles for the document */
body {
  background-color: #FFFFFF;
  color: #666666;
  font-family: Verdana, Arial, sans-serif;
}

/* Styles for the header */
header {
  background-color: #002171;
  color: #FFFFFF;
  font-family: Georgia, serif;
}

/* Styles for the navigation */
nav {
  background-color: #BBDEFB;
  font-weight: bold;
}

/* Styles for the h2 */
h2 {
  color: #1976D2;
  font-family: Georgia, serif;
}

/* Styles for the dt */
dt {
  color: #002171;
  font-weight: bold;
}

/* Styles for the .resort class */
.resort {
  color: #1976D2;
  font-size: 1.2em;
}

/* Styles for the footer */
footer {
  font-size: 0.70em;
  font-style: italic;
  text-align: center;
}

/* Styles for the wrapper */
#wrapper {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
